RELEASE=dev

POSTGRES_USER=shorty
POSTGRES_PASSWORD=shorty
POSTGRES_DB=shorty
# DATABASE_URL=postgres://user:pass@external-host:5432/shorty?sslmode=require

JWT_SECRET=replace-me-with-a-random-string-of-32-plus-chars
TOKEN_TTL=168h
COOKIE_SECURE=false

HTTP_PORT=8080
BASE_URL=http://localhost:8080
